{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://www.patientview.org/"
        }
    ],
    "info": {
        "description": "The recommended REST API endpoints to be used when integrating with PatientView",
        "termsOfService": "https://www.patientview.org/#/terms",
        "title": "PatientView",
        "version": "1.0",
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.patientview.org_images_pv-logo.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "swagger",
                "url": "https://www.patientview.org/api/api-docs",
                "version": "1.2"
            }
        ],
        "x-preferred": true,
        "x-providerName": "patientview.org"
    },
    "tags": [
        {
            "description": "Auth Controller",
            "name": "auth-controller"
        },
        {
            "description": "Observation Controller",
            "name": "observation-controller"
        },
        {
            "description": "Observation Heading Controller",
            "name": "observation-heading-controller"
        },
        {
            "description": "Patient Controller",
            "name": "patient-controller"
        },
        {
            "description": "Patient Management Controller",
            "name": "patient-management-controller"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "deprecated": false,
                "description": "Authenticate using username and password, returns token, which must be added to X-Auth-Token in header of all future requests",
                "operationId": "logIn",
                "responses": {
                    "200": {
                        "description": "Description was not specified",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Log In",
                "tags": [
                    "auth-controller"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "apiKey": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "credentials"
                }
            }
        },
        "/auth/logout/{token}": {
            "delete": {
                "deprecated": false,
                "description": "Log Out",
                "operationId": "logOut",
                "parameters": [
                    {
                        "description": "token",
                        "in": "path",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Description was not specified"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "summary": "Log Out",
                "tags": [
                    "auth-controller"
                ]
            }
        },
        "/auth/{token}/basicuserinformation": {
            "get": {
                "deprecated": false,
                "description": "Once logged in and have a token, get basic user information including group role membership",
                "operationId": "getBasicUserInformation",
                "parameters": [
                    {
                        "description": "token",
                        "in": "path",
                        "name": "token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Basic User Information",
                "tags": [
                    "auth-controller"
                ]
            }
        },
        "/patient/{userId}/basic": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID, get basic patient information for a user from clinical data stored in FHIR",
                "operationId": "getBasicPatientDetails",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {},
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Basic Patient Information",
                "tags": [
                    "patient-controller"
                ]
            }
        },
        "/patientmanagement/diagnoses": {
            "get": {
                "deprecated": false,
                "description": "getPatientManagementDiagnoses",
                "operationId": "getPatientManagementDiagnoses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "codeCategories": {
                                                "items": {
                                                    "properties": {
                                                        "category": {
                                                            "properties": {
                                                                "friendlyDescription": {
                                                                    "type": "string"
                                                                },
                                                                "hidden": {
                                                                    "type": "boolean"
                                                                },
                                                                "icd10Description": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "format": "int64",
                                                                    "type": "integer"
                                                                },
                                                                "number": {
                                                                    "format": "int32",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "id": {
                                                            "format": "int64",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array",
                                                "uniqueItems": true
                                            },
                                            "codeType": {
                                                "properties": {
                                                    "created": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "descriptionFriendly": {
                                                        "type": "string"
                                                    },
                                                    "displayOrder": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "lastUpdate": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "lookupType": {
                                                        "properties": {
                                                            "created": {
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "format": "int64",
                                                                "type": "integer"
                                                            },
                                                            "lastUpdate": {
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "GROUP",
                                                                    "MENU",
                                                                    "ROLE",
                                                                    "CODE_STANDARD",
                                                                    "CODE_TYPE",
                                                                    "FEATURE_TYPE",
                                                                    "RELATIONSHIP_TYPE",
                                                                    "IDENTIFIER",
                                                                    "CONTACT_POINT_TYPE",
                                                                    "STATISTIC_TYPE",
                                                                    "NEWS_TYPE",
                                                                    "GENDER",
                                                                    "IBD_CROHNSLOCATION",
                                                                    "IBD_CROHNSPROXIMALTERMINALILEUM",
                                                                    "IBD_CROHNSPERIANAL",
                                                                    "IBD_CROHNSBEHAVIOUR",
                                                                    "IBD_UCEXTENT",
                                                                    "IBD_EGIMCOMPLICATION",
                                                                    "IBD_SURGERYMAINPROCEDURE",
                                                                    "IBD_SMOKINGSTATUS",
                                                                    "IBD_FAMILYHISTORY",
                                                                    "LINK_TYPE"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "created": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "displayOrder": {
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "externalStandards": {
                                                "items": {
                                                    "properties": {
                                                        "codeString": {
                                                            "type": "string"
                                                        },
                                                        "externalStandard": {
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "format": "int64",
                                                                    "type": "integer"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "id": {
                                                            "format": "int64",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array",
                                                "uniqueItems": true
                                            },
                                            "fullDescription": {
                                                "type": "string"
                                            },
                                            "hideFromPatients": {
                                                "type": "boolean"
                                            },
                                            "id": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "lastUpdate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "links": {
                                                "items": {
                                                    "properties": {
                                                        "created": {
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "displayOrder": {
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "id": {
                                                            "format": "int64",
                                                            "type": "integer"
                                                        },
                                                        "lastUpdate": {
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "link": {
                                                            "type": "string"
                                                        },
                                                        "linkType": {
                                                            "properties": {
                                                                "created": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "descriptionFriendly": {
                                                                    "type": "string"
                                                                },
                                                                "displayOrder": {
                                                                    "format": "int64",
                                                                    "type": "integer"
                                                                },
                                                                "id": {
                                                                    "format": "int64",
                                                                    "type": "integer"
                                                                },
                                                                "lastUpdate": {
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "lookupType": {
                                                                    "properties": {
                                                                        "created": {
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "type": "string"
                                                                        },
                                                                        "id": {
                                                                            "format": "int64",
                                                                            "type": "integer"
                                                                        },
                                                                        "lastUpdate": {
                                                                            "format": "date-time",
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "enum": [
                                                                                "GROUP",
                                                                                "MENU",
                                                                                "ROLE",
                                                                                "CODE_STANDARD",
                                                                                "CODE_TYPE",
                                                                                "FEATURE_TYPE",
                                                                                "RELATIONSHIP_TYPE",
                                                                                "IDENTIFIER",
                                                                                "CONTACT_POINT_TYPE",
                                                                                "STATISTIC_TYPE",
                                                                                "NEWS_TYPE",
                                                                                "GENDER",
                                                                                "IBD_CROHNSLOCATION",
                                                                                "IBD_CROHNSPROXIMALTERMINALILEUM",
                                                                                "IBD_CROHNSPERIANAL",
                                                                                "IBD_CROHNSBEHAVIOUR",
                                                                                "IBD_UCEXTENT",
                                                                                "IBD_EGIMCOMPLICATION",
                                                                                "IBD_SURGERYMAINPROCEDURE",
                                                                                "IBD_SMOKINGSTATUS",
                                                                                "IBD_FAMILYHISTORY",
                                                                                "LINK_TYPE"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array",
                                                "uniqueItems": true
                                            },
                                            "patientFriendlyName": {
                                                "type": "string"
                                            },
                                            "removedExternally": {
                                                "type": "boolean"
                                            },
                                            "sourceType": {
                                                "enum": [
                                                    "PATIENTVIEW",
                                                    "NHS_CHOICES"
                                                ],
                                                "type": "string"
                                            },
                                            "standardType": {
                                                "properties": {
                                                    "created": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "descriptionFriendly": {
                                                        "type": "string"
                                                    },
                                                    "displayOrder": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "lastUpdate": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "lookupType": {
                                                        "properties": {
                                                            "created": {
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "format": "int64",
                                                                "type": "integer"
                                                            },
                                                            "lastUpdate": {
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "GROUP",
                                                                    "MENU",
                                                                    "ROLE",
                                                                    "CODE_STANDARD",
                                                                    "CODE_TYPE",
                                                                    "FEATURE_TYPE",
                                                                    "RELATIONSHIP_TYPE",
                                                                    "IDENTIFIER",
                                                                    "CONTACT_POINT_TYPE",
                                                                    "STATISTIC_TYPE",
                                                                    "NEWS_TYPE",
                                                                    "GENDER",
                                                                    "IBD_CROHNSLOCATION",
                                                                    "IBD_CROHNSPROXIMALTERMINALILEUM",
                                                                    "IBD_CROHNSPERIANAL",
                                                                    "IBD_CROHNSBEHAVIOUR",
                                                                    "IBD_UCEXTENT",
                                                                    "IBD_EGIMCOMPLICATION",
                                                                    "IBD_SURGERYMAINPROCEDURE",
                                                                    "IBD_SMOKINGSTATUS",
                                                                    "IBD_FAMILYHISTORY",
                                                                    "LINK_TYPE"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "getPatientManagementDiagnoses",
                "tags": [
                    "patient-management-controller"
                ]
            }
        },
        "/patientmanagement/lookuptypes": {
            "get": {
                "deprecated": false,
                "description": "getPatientManagementLookupTypes",
                "operationId": "getPatientManagementLookupTypes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "created": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "format": "int64",
                                                "type": "integer"
                                            },
                                            "lastUpdate": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "type": {
                                                "enum": [
                                                    "GROUP",
                                                    "MENU",
                                                    "ROLE",
                                                    "CODE_STANDARD",
                                                    "CODE_TYPE",
                                                    "FEATURE_TYPE",
                                                    "RELATIONSHIP_TYPE",
                                                    "IDENTIFIER",
                                                    "CONTACT_POINT_TYPE",
                                                    "STATISTIC_TYPE",
                                                    "NEWS_TYPE",
                                                    "GENDER",
                                                    "IBD_CROHNSLOCATION",
                                                    "IBD_CROHNSPROXIMALTERMINALILEUM",
                                                    "IBD_CROHNSPERIANAL",
                                                    "IBD_CROHNSBEHAVIOUR",
                                                    "IBD_UCEXTENT",
                                                    "IBD_EGIMCOMPLICATION",
                                                    "IBD_SURGERYMAINPROCEDURE",
                                                    "IBD_SMOKINGSTATUS",
                                                    "IBD_FAMILYHISTORY",
                                                    "LINK_TYPE"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "getPatientManagementLookupTypes",
                "tags": [
                    "patient-management-controller"
                ]
            }
        },
        "/patientmanagement/validate": {
            "post": {
                "deprecated": false,
                "description": "validatePatientManagement",
                "operationId": "validatePatientManagement",
                "responses": {
                    "200": {
                        "description": "Description was not specified"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "validatePatientManagement",
                "tags": [
                    "patient-management-controller"
                ],
                "requestBody": {}
            }
        },
        "/patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}": {
            "get": {
                "deprecated": false,
                "description": "getPatientManagement",
                "operationId": "getPatientManagement",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "groupId",
                        "in": "path",
                        "name": "groupId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "identifierId",
                        "in": "path",
                        "name": "identifierId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "getPatientManagement",
                "tags": [
                    "patient-management-controller"
                ]
            },
            "post": {
                "deprecated": false,
                "description": "savePatientManagement",
                "operationId": "savePatientManagement",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "groupId",
                        "in": "path",
                        "name": "groupId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "identifierId",
                        "in": "path",
                        "name": "identifierId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Description was not specified"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "savePatientManagement",
                "tags": [
                    "patient-management-controller"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "description": "patientManagement"
                }
            }
        },
        "/patientmanagement/{userId}/group/{groupId}/identifier/{identifierId}/surgeries": {
            "post": {
                "deprecated": false,
                "description": "savePatientManagementSurgeries",
                "operationId": "savePatientManagementSurgeries",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "groupId",
                        "in": "path",
                        "name": "groupId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "identifierId",
                        "in": "path",
                        "name": "identifierId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Description was not specified"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "savePatientManagementSurgeries",
                "tags": [
                    "patient-management-controller"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    },
                    "description": "patientManagement"
                }
            }
        },
        "/user/{userId}/availableobservationheadings": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID retrieve a list of available observation types for that user (where they have observation data).",
                "operationId": "getAvailableObservationHeadings",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {},
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Available Observations Types For a User",
                "tags": [
                    "observation-heading-controller"
                ]
            }
        },
        "/user/{userId}/observations": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID and search parameters, retrieve a page of observations.",
                "operationId": "getObservationsByCodes",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "code",
                        "in": "query",
                        "name": "code",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "uniqueItems": false
                        }
                    },
                    {
                        "description": "limit",
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "offset",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "orderDirection",
                        "in": "query",
                        "name": "orderDirection",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Observations of Multiple Types For a User",
                "tags": [
                    "observation-controller"
                ]
            }
        },
        "/user/{userId}/observations/{code}": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID and observation code, retrieve all observations.",
                "operationId": "getObservationsByCode",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "code",
                        "in": "path",
                        "name": "code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {},
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Observations of a Certain Type For a User",
                "tags": [
                    "observation-controller"
                ]
            }
        },
        "/user/{userId}/observations/{code}/patiententered": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID and observation code, retrieve patient entered observations.",
                "operationId": "getPatientEnteredObservationsByCode",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "code",
                        "in": "path",
                        "name": "code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "items": {},
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get patient entered Observations of a Certain Type For a User",
                "tags": [
                    "observation-controller"
                ]
            }
        },
        "/user/{userId}/patiententeredobservationheadings": {
            "get": {
                "deprecated": false,
                "description": "Given a User ID retrieve a list of available observation types for that user (where they have patient entered observation data).",
                "operationId": "getPatientEnteredObservationHeadings",
                "parameters": [
                    {
                        "description": "userId",
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {},
                                    "type": "array",
                                    "uniqueItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "summary": "Get Available Patient Entered Observations Types For a User",
                "tags": [
                    "observation-heading-controller"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ApiKey": {
                "properties": {
                    "expired": {
                        "type": "boolean"
                    },
                    "expiryDate": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "key": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BaseGroup": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "groupType": {
                        "properties": {
                            "created": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "descriptionFriendly": {
                                "type": "string"
                            },
                            "displayOrder": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "lastUpdate": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "lookupType": {
                                "properties": {
                                    "created": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "type": {
                                        "enum": [
                                            "GROUP",
                                            "MENU",
                                            "ROLE",
                                            "CODE_STANDARD",
                                            "CODE_TYPE",
                                            "FEATURE_TYPE",
                                            "RELATIONSHIP_TYPE",
                                            "IDENTIFIER",
                                            "CONTACT_POINT_TYPE",
                                            "STATISTIC_TYPE",
                                            "NEWS_TYPE",
                                            "GENDER",
                                            "IBD_CROHNSLOCATION",
                                            "IBD_CROHNSPROXIMALTERMINALILEUM",
                                            "IBD_CROHNSPERIANAL",
                                            "IBD_CROHNSBEHAVIOUR",
                                            "IBD_UCEXTENT",
                                            "IBD_EGIMCOMPLICATION",
                                            "IBD_SURGERYMAINPROCEDURE",
                                            "IBD_SMOKINGSTATUS",
                                            "IBD_FAMILYHISTORY",
                                            "LINK_TYPE"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "value": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "lastImportDate": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "parentCodes": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "shortName": {
                        "type": "string"
                    },
                    "visible": {
                        "type": "boolean"
                    },
                    "visibleToJoin": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "Category": {
                "properties": {
                    "friendlyDescription": {
                        "type": "string"
                    },
                    "hidden": {
                        "type": "boolean"
                    },
                    "icd10Description": {
                        "type": "string"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "number": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Code": {
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "codeCategories": {
                        "items": {
                            "properties": {
                                "category": {
                                    "properties": {
                                        "friendlyDescription": {
                                            "type": "string"
                                        },
                                        "hidden": {
                                            "type": "boolean"
                                        },
                                        "icd10Description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "number": {
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                },
                                "id": {
                                    "format": "int64",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array",
                        "uniqueItems": true
                    },
                    "codeType": {
                        "properties": {
                            "created": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "descriptionFriendly": {
                                "type": "string"
                            },
                            "displayOrder": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "lastUpdate": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "lookupType": {
                                "properties": {
                                    "created": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "type": {
                                        "enum": [
                                            "GROUP",
                                            "MENU",
                                            "ROLE",
                                            "CODE_STANDARD",
                                            "CODE_TYPE",
                                            "FEATURE_TYPE",
                                            "RELATIONSHIP_TYPE",
                                            "IDENTIFIER",
                                            "CONTACT_POINT_TYPE",
                                            "STATISTIC_TYPE",
                                            "NEWS_TYPE",
                                            "GENDER",
                                            "IBD_CROHNSLOCATION",
                                            "IBD_CROHNSPROXIMALTERMINALILEUM",
                                            "IBD_CROHNSPERIANAL",
                                            "IBD_CROHNSBEHAVIOUR",
                                            "IBD_UCEXTENT",
                                            "IBD_EGIMCOMPLICATION",
                                            "IBD_SURGERYMAINPROCEDURE",
                                            "IBD_SMOKINGSTATUS",
                                            "IBD_FAMILYHISTORY",
                                            "LINK_TYPE"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "value": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "created": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "displayOrder": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "externalStandards": {
                        "items": {
                            "properties": {
                                "codeString": {
                                    "type": "string"
                                },
                                "externalStandard": {
                                    "properties": {
                                        "description": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "id": {
                                    "format": "int64",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array",
                        "uniqueItems": true
                    },
                    "fullDescription": {
                        "type": "string"
                    },
                    "hideFromPatients": {
                        "type": "boolean"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "lastUpdate": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "links": {
                        "items": {
                            "properties": {
                                "created": {
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "displayOrder": {
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "id": {
                                    "format": "int64",
                                    "type": "integer"
                                },
                                "lastUpdate": {
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "link": {
                                    "type": "string"
                                },
                                "linkType": {
                                    "properties": {
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "descriptionFriendly": {
                                            "type": "string"
                                        },
                                        "displayOrder": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "lastUpdate": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lookupType": {
                                            "properties": {
                                                "created": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "format": "int64",
                                                    "type": "integer"
                                                },
                                                "lastUpdate": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "enum": [
                                                        "GROUP",
                                                        "MENU",
                                                        "ROLE",
                                                        "CODE_STANDARD",
                                                        "CODE_TYPE",
                                                        "FEATURE_TYPE",
                                                        "RELATIONSHIP_TYPE",
                                                        "IDENTIFIER",
                                                        "CONTACT_POINT_TYPE",
                                                        "STATISTIC_TYPE",
                                                        "NEWS_TYPE",
                                                        "GENDER",
                                                        "IBD_CROHNSLOCATION",
                                                        "IBD_CROHNSPROXIMALTERMINALILEUM",
                                                        "IBD_CROHNSPERIANAL",
                                                        "IBD_CROHNSBEHAVIOUR",
                                                        "IBD_UCEXTENT",
                                                        "IBD_EGIMCOMPLICATION",
                                                        "IBD_SURGERYMAINPROCEDURE",
                                                        "IBD_SMOKINGSTATUS",
                                                        "IBD_FAMILYHISTORY",
                                                        "LINK_TYPE"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array",
                        "uniqueItems": true
                    },
                    "patientFriendlyName": {
                        "type": "string"
                    },
                    "removedExternally": {
                        "type": "boolean"
                    },
                    "sourceType": {
                        "enum": [
                            "PATIENTVIEW",
                            "NHS_CHOICES"
                        ],
                        "type": "string"
                    },
                    "standardType": {
                        "properties": {
                            "created": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "descriptionFriendly": {
                                "type": "string"
                            },
                            "displayOrder": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "lastUpdate": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "lookupType": {
                                "properties": {
                                    "created": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "type": {
                                        "enum": [
                                            "GROUP",
                                            "MENU",
                                            "ROLE",
                                            "CODE_STANDARD",
                                            "CODE_TYPE",
                                            "FEATURE_TYPE",
                                            "RELATIONSHIP_TYPE",
                                            "IDENTIFIER",
                                            "CONTACT_POINT_TYPE",
                                            "STATISTIC_TYPE",
                                            "NEWS_TYPE",
                                            "GENDER",
                                            "IBD_CROHNSLOCATION",
                                            "IBD_CROHNSPROXIMALTERMINALILEUM",
                                            "IBD_CROHNSPERIANAL",
                                            "IBD_CROHNSBEHAVIOUR",
                                            "IBD_UCEXTENT",
                                            "IBD_EGIMCOMPLICATION",
                                            "IBD_SURGERYMAINPROCEDURE",
                                            "IBD_SMOKINGSTATUS",
                                            "IBD_FAMILYHISTORY",
                                            "LINK_TYPE"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "value": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "CodeCategory": {
                "properties": {
                    "category": {
                        "properties": {
                            "friendlyDescription": {
                                "type": "string"
                            },
                            "hidden": {
                                "type": "boolean"
                            },
                            "icd10Description": {
                                "type": "string"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "number": {
                                "format": "int32",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "CodeExternalStandard": {
                "properties": {
                    "codeString": {
                        "type": "string"
                    },
                    "externalStandard": {
                        "properties": {
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ContactPoint": {
                "properties": {
                    "contactPointType": {
                        "properties": {
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "lookupType": {
                                "properties": {
                                    "created": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "format": "int64",
                                        "type": "integer"
                                    },
                                    "lastUpdate": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "type": {
                                        "enum": [
                                            "GROUP",
                                            "MENU",
                                            "ROLE",
                                            "CODE_STANDARD",
                                            "CODE_TYPE",
                                            "FEATURE_TYPE",
                                            "RELATIONSHIP_TYPE",
                                            "IDENTIFIER",
                                            "CONTACT_POINT_TYPE",
                                            "STATISTIC_TYPE",
                                            "NEWS_TYPE",
                                            "GENDER",
                                            "IBD_CROHNSLOCATION",
                                            "IBD_CROHNSPROXIMALTERMINALILEUM",
                                            "IBD_CROHNSPERIANAL",
                                            "IBD_CROHNSBEHAVIOUR",
                                            "IBD_UCEXTENT",
                                            "IBD_EGIMCOMPLICATION",
                                            "IBD_SURGERYMAINPROCEDURE",
                                            "IBD_SMOKINGSTATUS",
                                            "IBD_FAMILYHISTORY",
                                            "LINK_TYPE"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "value": {
                                "enum": [
                                    "UNIT_WEB_ADDRESS",
                                    "TRUST_WEB_ADDRESS",
                                    "PV_ADMIN_NAME",
                                    "PV_ADMIN_PHONE",
                                    "PV_ADMIN_EMAIL",
                                    "UNIT_ENQUIRIES_PHONE",
                                    "UNIT_ENQUIRIES_EMAIL",
                                    "APPOINTMENT_PHONE",
                                    "APPOINTMENT_EMAIL",
                                    "OUT_OF_HOURS_INFO"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "content": {
                        "type": "string"
                    },
                    "created": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "lastUpdate": {
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ContactPointType": {
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "lookupType": {
                        "properties": {
                            "created": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            },
                            "lastUpdate": {
                                "format": "date-time",
                                "type": "string"
                            },
                            "type": {
                                "enum": [
                                    "GROUP",
                                    "MENU",
                                    "ROLE",
                                    "CODE_STANDARD",
                                    "CODE_TYPE",
                                    "FEATURE_TYPE",
                                    "RELATIONSHIP_TYPE",
                                    "IDENTIFIER",
                                    "CONTACT_POINT_TYPE",
                                    "STATISTIC_TYPE",
                                    "NEWS_TYPE",
                                    "GENDER",
                                    "IBD_CROHNSLOCATION",
                                    "IBD_CROHNSPROXIMALTERMINALILEUM",
                                    "IBD_CROHNSPERIANAL",
                                    "IBD_CROHNSBEHAVIOUR",
                                    "IBD_UCEXTENT",
                                    "IBD_EGIMCOMPLICATION",
                                    "IBD_SURGERYMAINPROCEDURE",
                                    "IBD_SMOKINGSTATUS",
                                    "IBD_FAMILYHISTORY",
                                    "LINK_TYPE"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "value": {
                        "enum": [
                            "UNIT_WEB_ADDRESS",
                            "TRUST_WEB_ADDRESS",
                            "PV_ADMIN_NAME",
                            "PV_ADMIN_PHONE",
                            "PV_ADMIN_EMAIL",
                            "UNIT_ENQUIRIES_PHONE",
                            "UNIT_ENQUIRIES_EMAIL",
                            "APPOINTMENT_PHONE",
                            "APPOINTMENT_EMAIL",
                            "OUT_OF_HOURS_INFO"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Credentials": {
                "properties": {
                    "apiKey": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ExternalStandard": {
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Feature": {
                "properties": {
                    "created": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "lastUpdate": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "FhirAllergy": {
                "properties": {
                    "confidenceLevel": {
                        "type": "string"
                    },
                    "group": {},
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "identifier": {
                        "type": "string"
                    },
                    "infoSource": {
                        "type": "string"
                    },
                    "reaction": {
                        "type": "string"
                    },
                    "recordedDate": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "substance": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "FhirCondition": {
                "properties": {
                    "asserter": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    },
                    "date": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "fullDescription": {
                        "type": "string"
                    },
                    "group": {},
                    "id": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "identifier": {
                        "type": "string"
                    },
                    "links": {
                        "items": {
                            "properties": {
                                "created": {
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "displayOrder": {
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "id": {
                                    "format": "int64",
                                    "type": "integer"
                                },
                                "lastUpdate": {
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "link": {
                                    "type": "string"
                                },
                                "linkType": {
                                    "properties": {
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "descriptionFriendly": {
                                            "type": "string"
                                        },
                                        "displayOrder": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "id": {
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "lastUpdate": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "lookupType": {
                                            "properties": {
[...]
